extends indexHead

block content
	iframe#timerFrame(src='timer.html', allowtransparency='true', frameborder='0')
	script(type="text/javascript").
		//adjust the frame position
		var windowWidth = $(window).width();
		var frameWidth = $("#timerFrame").width();
		$("#timerFrame").offset({"left":(windowWidth - frameWidth)/2});
